<% include ../header/html %>
    <h1>مرحباً بكم في شركة المنطق</h1>
    </br>
    <p> لقد تم تفعيلك كمستخدم لمنظومة المبيعات بشركة المنطق</p>
    </br>
    <a href="<%= url.link %>"><%= url.link %></a>
    </br>
<% include ../footer/html %>