<% include ../header/html %>
    <h1>Welcome to Naga</h1>
    <p> Please confirm your registration by clicking on the link below </p> </br>
    <a href="<%= url.link %>?token=<%= url.token %>"><%= url.link %>?token=<%= url.token %></a>
    </br>
<% include ../footer/html %>