<% include ../header/html %>
    <h1>طلب كلمة المرور</h1>
    </br>
    <p> اعدادات دخولك لمنظومة المنطق للمبيعات هي : </p>
    </br>
    <ul>
    	<li> username : <%= user.email %></li>
    	<li> password : <%= user.pass %></li>
    </ul>
    </br>
<% include ../footer/html %>