
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Almanteq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">  
    <style type="text/css">
    .input-prepend .add-on:first-child, .input-prepend .btn:first-child {

      border-radius: 0 4px 4px 0;
    }

    .input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
      position: relative;
      margin-bottom: 0;
      vertical-align: top;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 4px 0 0 4px;
    }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="container">
      <a href="/offers"><h3 class="muted"><img id="ownerLogo" src="img/logo.jpg" class="logo"> Almanteq</h3></a>
        <div dir="rtl">
          <div class="alert alert-success hide" id="signedup">
            <p>لقد تمت الاضافة المبدئية بنجاح, سوف يصلك بريد الكتروني حين تفعيلك من قبل المسؤول</p>
          </div>
          <form class="form form-signin" id="signup">
            <legend>تسجيل دخول جديد</legend>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input type="text" dir="ltr" id = "name" name="name" value="" class="input-block-level" placeholder="الاسم">
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input type="text" dir="ltr" id = "email" name="email" value="" class="input-block-level" placeholder="Email">
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input type="password" dir="ltr" id = "password" name="password" value="" class="input-block-level" placeholder="كلمة السر">
            </div>
            </br>
            <button type="submit" value= "submit" class="button btn btn-warning signup">تسجيل</button>
            <div class="alert alert-info">
              <p>هل انت مستخدم,  الرجاء قم بـ <b><a href="/login">الدخول</a></b></p>
            </div>
          </form>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src ="js/jquery.validate.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/signup.js"></script>

  </body>
</html>
